body {
	font-family: Varta, sans-serif;
}
/** В макете используются шрифты Halyard Display и Halyard Text: в связи с отсутствием их в свободном доступе, при вёрстке применила максимально схожий Varta**/

.navbar {
	background-color: #ffffff;
}

.nav-link, .tel, .dropdown-item {
	text-decoration: none;
	font-size: 16px;
	color: #1E266D;
	font-weight: bold;
}

.nav-link:hover {
	color: #FF2E6A;
}

.dropdown-item:hover {
	color: #FF2E6A;
}

.navbar-toggler {
	background-color: #1E266D;
}

.btn {
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	background-color: #3751FF;
	padding: 5px 10px;
	border-radius: 100px;
	border: none;
}

.btn:focus, .btn:hover {
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	color: #455880;
}

.intro {
	background-image: url(img/bg.png);
}

.intro .card {
	border: none;
	margin: 150px 0 5px 0;
}

h1 {
	font-weight: 700;
	font-size: 56px;
	line-height: 60px;
	color: #1E266D;
	width: 50%;
}

.intro .card-text, .main-card-text {
	font-size: 18px;
	line-height: 27px;
	color: #455880;
}

.intro img, .purchase img {
	display: block;
	margin: auto;
	width: 100%;
}

.partnership p {
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	color: rgba(69, 88, 128, 0.5);
}

h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	color: #1E266D;
	text-align: center;
}

.about {
	background-image: url(img/users2.png);
	background-position: -7% 100%;
	background-repeat: no-repeat;
}

.about h2 {
	width: 50%;
	margin: auto;
}

h4 {
	font-weight: bold;
	font-size: 22px;
	line-height: 125%;
	color: #1E266D;
}

.about .card {
	border: none;
	max-width: 400px;
}

.line {
	border-bottom: 1px solid rgba(69, 88, 128, 0.2);
}

.about .card-text, .reviews .card-text {
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #455880;
}

.card-img {
	width: 58px;
	height: 58px;
}

.purchase {
	background-color: #FFF9EA;
}

.purchase .card, .contact .card {
	border: none;
	background: transparent;
}

.purchase .card-text {
	font-size: 21px;
	line-height: 31px;
	color: #455880;
	width: 36%;
	margin: auto;
}

.reviews {
	text-align: center;
}

.main-card-text {
	text-align: left;
	font-weight: bold;
}

.card-img-bottom {
	width: 64px;
	height: 64px;
}

.contact {
	background-color: #3751FF;
	width: 100%;
}

.contact h2 {
	color: #ffffff;
	width: 400px;
	text-align: left;
}

.contact .btn {
	background-image: url(img/contact.png);
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-position: 10% 40%;
	color: #455880;
	font-weight: bold;
	float: right;
}

.contact .card-text {
	color: #DFE0EB;
	text-align: right;
}

span {
	color: #FED385;
}




@media (min-width: 837px) {
.navbar-expand-lg .navbar-toggler {
    display: none;
}	

.navbar-expand-lg .navbar-collapse {
	display: flex!important;
	  flex-basis: auto;
}

.navbar-nav {
	flex-direction: row;
}

.navbar-nav .dropdown-menu {
	position: absolute;
}
}

@media (max-width: 767px) {
    .about h2 {
	width: 100%;
}

.form-inline {
	display: none;
}

.contact h2 {
	text-align: center;
}

.contact .btn {
	margin-right: 20%;
}

.contact .card-text {
	text-align: center;
}
}

@media (max-width: 1199px) {
    h1 {
	width: 60%;
}

.purchase .card-text {
	width: 45%;
}
}

@media (max-width: 992px) {
	.about {
	background-image: none;
    }

    .about h2 {
	width: 80%;
    }

    h1 {
	width: 100%;
	font-size: 48px;
}

.purchase .card-text {
	width: 65%;
}
}